{
   "extends": "mother",
   "rules": {
      "linebreak-style": 0,
      "import/no-extraneous-dependencies": [
         "error", {
            "devDependencies": true,
            "optionalDependencies": false,
            "peerDependencies": true
         }
      ]
   }
}
